h1 {	
	font-size: 120px;
	text-align: center;
	margin-top: 50px;
	font-family: sans-serif;;
	letter-spacing: -5px;
	color: #666;
}


.wrap {
	width: 400px;
	margin: auto;
	background: red;
	position: relative;


}
.header img {
	display: block;
	margin: auto;
	position: relative;
	padding-top: 10px;
	border: ;


}

.header p, h2 {
	text-align: center;
	color: white;
	font-family: sans-serif;

}

h2 {
	max-height: 10px;
}

.header {
	max-width: ;
}