h1 {	
	font-size: 120px;
	text-align: center;
	margin-top: 50px;
	font-family: sans-serif;;
	letter-spacing: -5px;
	color: #666;
}

li {
	color: #999;

}


.wrap {
	width: 400px;
	margin: auto;
	background: #333;
	position: relative;


}

.stats {
	background: white;
	/*border: 1px solid #333;*/
	line-height: ;

	
}

.header {
	
	border: 1px solid #333;
	border-radius: 10px;
}

ul {
	margin: 0;
	padding: 0;

}

.stats li {
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;

	padding: 10px 10px;
	border-right: 1px solid #999;

}



.stats li:last-child {
	float: right;
}

.num {
	font-weight: bold;
	font-size: 14px;
	color: black;


}
.header img {
	display: block;
	margin: 10px auto;
	position: relative;
	
	border: 5px solid white;
	border-radius: 4px;


}

.header p, h2 {
	text-align: center;
	color: white;
	font-family: sans-serif;

}

h2 {
	max-height: 20px;
}


